---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "Object Functions"
description: |-
  {{ .Summary | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type | title }}: {{.Name}}

{{ .Summary | trimspace }}

The function `object_set_value` has different modes of operation, depending on the value of the `operation` argument. 
Check the [Operation Modes](#operation-modes) section for more information.

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

## Signature

{{ .FunctionSignatureMarkdown }}

## Arguments

{{ .FunctionArgumentsMarkdown }}
{{ if .HasVariadic -}}
{{ .FunctionVariadicArgumentMarkdown }}
{{- end }}

### Operation Modes

The `operation` argument can have the following values:

- `write_all`: Writes the value to the specified key. If the key does not exist, it will be created.
- `write_value`: Writes the value to the specified key only if the key already exists. No changes are made if the 
  key is missing.
- `write_safe`: Writes the value to the specified key only if the key exists and its current value is `null` or an 
  empty string.

## Return Type

The return type of `{{.Name}}` is an object that contains all the keys and values from the input `object`, with the 
specified key modified according to the chosen operation mode. The original object is not modified; a new object 
with the changes is returned.
