---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "OS Functions"
description: |-
  {{ .Summary | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Type | title }}: {{.Name}}

{{ .Summary | trimspace }}

The function `os_get_env` retrieves the value of an environment variable and provides a fallback value if the
environment variable is not set.

{{ if .HasExample -}}
## Example Usage

{{tffile .ExampleFile }}
{{- end }}

## Signature

{{ .FunctionSignatureMarkdown }}

## Arguments

{{ .FunctionArgumentsMarkdown }}
{{ if .HasVariadic -}}
{{ .FunctionVariadicArgumentMarkdown }}
{{- end }}

## Return Type

The return type of `{{.Name}}` is a string representing the value of the environment variable or the fallback value.
You can use terraform type conversion functions to convert the string to other types if needed.
