root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4

[{*.bash,*.sh,*.zsh}]
tab_width = 2

[{*.go,*.go2}]
indent_style = tab
indent_size = 4

[{*.json,*.yml,*.yaml}]
indent_size = 2
tab_width = 2
indent_style = space

[{*.yml,*.yaml}]
indent_size = 2
tab_width = 2

[{*.tf,*.tfvars,*.tftpl,*.hcl}]
indent_size = 2
tab_width = 2
indent_style = space
max_line_length = 160
